# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Rust
/target/
**/Cargo.lock

# Rust build artifacts
*.rlib
*.d
*.o
*.so
*.dylib
*.exe
*.a
/src-tauri/target/
/src-tauri/Cargo.lock
/src-tauri/.cargo/
/coverage/
/*.profraw

# others
*.pptx